.start{

        display: flex;
        flex-direction: column; /* Arrange items vertically */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        height:75vh; /* Full viewport height */
        width:50vw;
        margin:50px;
        margin-left: 400px;
        background-color:rgb(31, 22, 78,0.5);
        color: #fafcff; /* Dark text color */
        text-align: center; /* Center text alignment */
        padding: 20px; /* Add padding */
        font-family: 'Arial', sans-serif; /* Set font family */
        border-radius: 50px;
    
}
.start {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      
      .start-button {
        padding: 10px 20px;
        background-color: #4CAF50; /* Customize as needed */
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        display: inline-block;
      }
      
      .start-button:hover {
        background-color: #45a049;
      }
      
      .clock-container {
        margin-top: 20px;
      }
      